#selectors {
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100vw;
  transform-style: preserve-3d;
  z-index: 3;
}

#timer-buttons {
  display: inline-block;
}

.stop-button {
  color: white;
  background-color: black;
}
  .stop-button:active {
    color: orange;
    /* background-color: yellow; */
  }

.recording-button {
  color: white;
  background-color: black;
}
  .recording-button.active {
    color: red;
    /* background-color: red; */
  }

.playing-button {
  color: white;
  background-color: black;
}
  .playing-button.active {
    color: green;
    /* background-color: green; */
  }

.metronome-button {
  color: aliceblue;
  background-color: black;
}
  .metronome-button.active {
    color: aquamarine;
  }